#as{
    display: inline-block;
    width:100%;
    max-width:700px;
}
#asd{
    display: inline-block;
    width:100%;
    ;max-width:700px;
}

#homepage{
    float:right;
    text-decoration: none;
}
#homepage :hover{
    text-decoration: underline;
}
