<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet type = text/css" href="{{ url_for('static', filename='guide.css')}}">
    <title>User guide</title>
</head>
<body>

    <h1 class="subtitle">User guide</h1>

    <a href="/" class="back">Back to main page</a>

    <h3>Step 1 :</h3>
    <div class="directions_1">
        <p>Input a name of restaureant in the "Enter restaureant name" part</p>
        <p>輸入你想尋找的餐廳名子在"Enter restaureant name"</p>
    </div>
    

</body>
</html>